body {
    font-family: Helvetica;
    font-size: 20px;
    margin: 0;
    background: gray;
}

.container {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
}


@media only screen and (min-width: 701pt) {
    .paper {
        background: white;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 30px;
        position: relative;
    }

    .paper,
    .paper::before,
    .paper::after {
        /* Styles to distinguish sheets from one another */
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
        border: 1px solid #bbb;
    }

    .paper::before,
    .paper::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 99%;
        background-color: #eee;
    }

    .paper::before {
        right: 15px;
        top: 0;
        transform: rotate(-1deg);
        z-index: -1;
    }

    .paper::after {
        top: 5px;
        right: -5px;
        transform: rotate(1deg);
        z-index: -2;
    }
}

.content {
    background: white;
    position: relative;
}

.language {
    text-align: center;
    margin-bottom: -1.5em;
}

.language img {
    margin: 0.25em;
}

a {
    /*text-decoration: none;*/
    color: black;
}

.item {
    margin-bottom: 1.2em;
}

.name {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    /*color:black;*/
}

.label, .date, .location, sub {
    font-size: 0.7em;
}

.legend {
    float: right;
    margin-top: -5.0em;
    font-size: 0.8em;
}

.label, .date, .location, sub, .legend, .gray, a.gray {
    color: #AAA;
}

.description {
    color: black;
    font-size: 0.8em;
    margin-left: 0;
}

u {
    text-decoration: none;
}

.top {
    display: table;
    width: 100%;
}

.date {
    display: table-cell;
    text-align: left;
    /*float:left;*/
}

.location {
    display: table-cell;
    text-align: right;
}

.columns {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 1 0 50%;
    margin-bottom: 0;
}

.column > * {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.column:first-child > * {
    margin-left: 0;
}

.column:last-child > * {
    margin-right: 0;
}

.anschrift {
    line-height: 1.4em;
    padding-left: 2em;
    min-height: 6em;
}

.anschrift .fas {
    margin-left: -2em;
}

.addressHidden {
	padding: 0.5em;
}

.bereich {
    margin-top: 2em;
    page-break-inside: avoid;
}

.items {
    /*padding-left:0.5em;*/
    border-left: 0.25em dotted black;
    margin-left: 1em;
    padding-left: 1em;
}

.bereich .fas, .anschrift .fas {
    margin-right: 0em;
    background: white;
    height: 1.25em;
    width: 1.875em;
    text-align: center;
    -webkit-print-color-adjust: exact;
    background-color: white !important;
}

.anschrift {
    max-width: 70%;
}

.anschrift .fas {
    width: 2.25em;
}

h1 {
    margin-bottom: 0.5em;
    font-size: 1.4em;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 0.4em;
    margin-left: 2em;
}

.categoryIcon {
    margin-left: -2em;
}

h3:first-child {
    margin-top: 0;
}

h3 {
    margin-bottom: 0.5em;
}

.color {
    color: #143066;
    border-color: #143066;
}

.color1, .color1 u {
    border-color: hsl(208, 50%, 50%);
    color: hsl(208, 50%, 40%);
}

.color2, .color2 u {
    border-color: hsl(142, 50%, 50%);
    color: hsl(142, 50%, 40%);
}

.color3, .color3 u {
    border-color: hsl(64, 50%, 50%);
    color: hsl(64, 50%, 40%);
}

.color4, .color4 u {
    border-color: hsl(28, 50%, 50%);
    color: hsl(28, 50%, 40%);
}

.color5, .color5 u {
    border-color: hsl(0, 50%, 50%);
    color: hsl(0, 50%, 40%);
}

.color6, .color6 u {
    border-color: hsl(300, 50%, 50%);
    color: hsl(300, 50%, 40%);
}

.color7, .color7 u {
    border-color: hsl(269, 50%, 50%);
    color: hsl(269, 50%, 50%);
}

.color8, .color8 u {
    border-color: #f9bb94;
    color: #f9bb94;
}

.color9, .color9 u {
    border-color: #f59295;
    color: #f59295;
}

.color10, .color10 u {
    border-color: #f0a2c9;
    color: #f0a2c9;
}

.color11, .color11 u {
    border-color: #d3a5cc;
    color: #d3a5cc;
}

.color12, .color12 u {
    border-color: #b6a6cd;
    color: #b6a6cd;
}

.qr {
    display: none;
    background-color: white;
    margin-bottom: -4em;
}

.bild {
    position: absolute;
    right: 0;
    max-height: 11em;
    max-width: 25%;
}